< !DOCTYPE html>

    <head>
        <title>Admin Dashboard - Blockchain Based Voting System</title>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="adminDashboard.css">
        <link rel="stylesheet" href="votingstyle.css">
    </head>

    <body>
        <div class="nav">

            <h2> Blockchain Based Voting System</h2>
            <a href="index.html"><img src="vote.png" alt=""></a>
            <input id="connect" class="common" type="button" value="Connect" onclick="Connect()">
        </div>
        <div class="mainbox">
            <div class="first">
                <div class="create">
                    <a href="./Admin.html">
                        <h3>ADMIN DASHBOARD</h3>
                    </a>
                </div>
                <div class="create">
                    <a href="./generateid.html">
                        <h3>REGISTRATION ID</h3>
                    </a>
                </div>
                <div class="create">
                    <a href="./goforvoting.html">
                        <h3>GO FOR VOTING</h3>
                    </a>
                </div>
                <!-- <div class="create">
                            <p id="connected"></p>
                        </div> -->

            </div>
        </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="script.js"></script>

    </body>

    </html>