<header>

    <nav id="navbar">
        <div id="logo">
            <a href="/"><img src="n1.jpg" class="container"></a>
        </div>

        <ul>
            <li class="container"><a href="about">About Us</a> </li>
            <li class="container"><a href="#home">Home</a> </li>
            <li class="container"><a href="#client-section">Gaming center</a> </li>
            <li class="container"><a href="#contact">Contact Us</a> </li>


        </ul>
    </nav>
    <footer>
        <div class="center">
            Copyright &copy; www.myanime.com. All rights reserved!
        </div>
    </footer>
</header>